#app {
  height: 100%;
}

body {
  -webkit-app-region: drag;
  overflow: hidden;
}

textarea,
button,
svg,
.milkdown,
.splitpanes .splitpanes__splitter,
.tree-wrapper {
  -webkit-app-region: no-drag;
}

:focus-visible {
  outline: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
