@import 'prism-themes/themes/prism-nord.css';

.milkdown {
  @apply bg-slate-50 px-2 py-4 m-5 border rounded dark:bg-dark-color-container dark:border-dark-color;

    flex: 1;
    margin: 0;

  .tableWrapper {
      overflow-x: hidden !important;
  }

  .editor {
    @apply mx-auto;

    left: 20px;
  }
}
