@import url('prism-themes/themes/prism-nord.css');

.milkdown {
  @apply bg-slate-50 px-2 py-4 m-5 border rounded;
  flex: 1;
  padding: 0;
  margin: 0;
  .tableWrapper {
    overflow-x: hidden !important;
  }
}

.editor {
  @apply mx-auto;
}
